:root {
  --main-font: "vazir-FD";
  --main-color: #00909F;
  --main-color-hover: #5abfcb;
  --second-color: #8a8a8a;
  --transition-short-time: 0.4s;
  --main-text-color: #fff ;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "vazir-FD";
  src: url("./fonts/vazir-font-v18.0.0/Farsi-Digits/Vazir-FD.eot") format("embedded-opentype"), url("./fonts/vazir-font-v18.0.0/Farsi-Digits/Vazir-FD.woff2") format("woff2"), url("./fonts/vazir-font-v18.0.0/Farsi-Digits/Vazir-FD.woff") format("woff"), url("./fonts/vazir-font-v18.0.0/Farsi-Digits/Vazir-FD.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: normal;
}
@font-face {
  font-family: "vazir-FD";
  src: url("./fonts/vazir-font-v18.0.0/Farsi-Digits/Vazir-Bold-FD.eot") format("embedded-opentype"), url("./fonts/vazir-font-v18.0.0/Farsi-Digits/Vazir-Bold-FD.woff2") format("woff2"), url("./fonts/vazir-font-v18.0.0/Farsi-Digits/Vazir-Bold-FD.woff") format("woff"), url("./fonts/vazir-font-v18.0.0/Farsi-Digits/Vazir-Bold-FD.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: 600;
}
@font-face {
  font-family: "vazir-FD";
  src: url("./fonts/vazir-font-v18.0.0/Farsi-Digits/Vazir-Light-FD.eot") format("embedded-opentype"), url("./fonts/vazir-font-v18.0.0/Farsi-Digits/Vazir-Light-FD.woff2") format("woff2"), url("./fonts/vazir-font-v18.0.0/Farsi-Digits/Vazir-Light-FD.woff") format("woff"), url("./fonts/vazir-font-v18.0.0/Farsi-Digits/Vazir-Light-FD.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: 300;
}
@font-face {
  font-family: "vazir-FD";
  src: url("./fonts/vazir-font-v18.0.0/Farsi-Digits/Vazir-Medium-FD.eot") format("embedded-opentype"), url("./fonts/vazir-font-v18.0.0/Farsi-Digits/Vazir-Medium-FD.woff2") format("woff2"), url("./fonts/vazir-font-v18.0.0/Farsi-Digits/Vazir-Medium-FD.woff") format("woff"), url("./fonts/vazir-font-v18.0.0/Farsi-Digits/Vazir-Medium-FD.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: 400;
}
@font-face {
  font-family: "vazir-FD";
  src: url("./fonts/vazir-font-v18.0.0/Farsi-Digits/Vazir-Thin-FD.eot") format("embedded-opentype"), url("./fonts/vazir-font-v18.0.0/Farsi-Digits/Vazir-Thin-FD.woff2") format("woff2"), url("./fonts/vazir-font-v18.0.0/Farsi-Digits/Vazir-Thin-FD.woff") format("woff"), url("./fonts/vazir-font-v18.0.0/Farsi-Digits/Vazir-Thin-FD.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: 200;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #fff;
  font-weight: 500;
  font-family: var(--main-font);
  height: 2000px;
  scroll-behavior: smooth;
}

.title-section h4 {
  font-size: 1.2rem;
  color: var(--main-color);
  display: flex;
  align-items: center;
}
.title-section a {
  font-size: 0.8rem;
  color: #777;
  transition: var(--transition-short-time);
}
.title-section a:hover {
  color: #333;
}

header {
  height: -moz-fit-content;
  height: fit-content;
}
header .cover-image {
  background-image: url(./images/Basic-Psychology-FB.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  opacity: 0.2;
}
header .header-top {
  font-size: 0.8rem;
}
header .header-top i {
  color: var(--main-color);
}
header .header-top .left i {
  font-size: 1rem;
  margin: 0 3px;
}
@media (max-width: 768px) {
  header .header-top {
    display: none !important;
  }
}
header .main-header .header-img {
  border-radius: 50px 0;
  aspect-ratio: 1;
  overflow: hidden;
  background-image: url(./images/pexels-alex-green-5699431.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
header .main-header .header-main-content {
  position: relative;
}
header .main-header .header-main-content p {
  line-height: 2.5rem;
  font-size: 1rem;
}
header .main-header .header-main-content a {
  float: left;
  margin-top: 30px;
  background-color: var(--main-color);
  color: var(--main-text-color);
  padding: 5px 15px;
  border-radius: 2px 2px 2px 15px;
}

nav {
  height: -moz-fit-content;
  height: fit-content;
}
nav > .menu-responsive {
  width: 100% !important;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #9bdce4;
  height: 50px;
  align-items: center;
  z-index: 9;
}
nav > .menu-responsive i {
  margin-right: 30px;
}
nav > .menu-responsive .logo {
  margin-left: 30px;
}
nav ul {
  box-shadow: 0 2px 3px #aaa;
  width: 95%;
  background-color: #Eee;
  border-radius: 20px;
}
nav ul.show {
  display: flex !important;
  position: fixed !important;
  top: 49px;
  right: 0;
  width: 100%;
  border-radius: 0;
  flex-direction: column;
  align-items: flex-start;
  z-index: 9;
}
nav ul.show li {
  width: 100%;
  text-align: right;
  border-bottom: 1px solid #fff;
  padding: 5px;
}
nav ul.show li:has(.logo) {
  display: none !important;
}
nav ul.show li span {
  display: none !important;
}
nav ul li a {
  font-size: 0.8rem;
  color: #777;
}
nav ul li .uderline-hover-menu {
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
  display: block;
  transform: scaleX(0);
  transition: 0.5s;
  border-radius: 3px;
}
nav ul li:hover a {
  color: var(--main-color);
}
nav ul li:hover .uderline-hover-menu {
  transform: scaleX(1);
}
nav ul li.button-container {
  left: -50px;
}
@media (max-width: 768px) {
  nav ul li.button-container {
    display: none !important;
  }
}
nav ul li.button-container .appoinment {
  padding: 5px 10px;
  border-radius: 50px;
  box-shadow: 0 0 5px #999;
  width: -moz-fit-content;
  width: fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  background-color: var(--main-color);
  color: var(--main-text-color);
}
nav ul li.button-container .search {
  color: var(--main-color);
  background-color: #fff;
  border-radius: 30px;
  width: 30px;
  height: 30px;
}

nav.scroll-menu {
  position: fixed;
  top: -100%;
  transition: 1s;
  width: 100%;
  margin-top: 0 !important;
  box-shadow: 0 2px 3px #aaa;
  background-color: #Eee;
  z-index: 9;
}
nav.scroll-menu ul {
  box-shadow: none;
  background-color: transparent;
  width: 100%;
  border-radius: 0;
  margin-bottom: 0 !important;
}
nav.scroll-menu ul li.button-container {
  left: 20px;
}

body.scroll nav.scroll-menu {
  top: 0;
}
@media (max-width: 768px) {
  body.scroll nav.scroll-menu {
    display: none !important;
  }
}

.our-services {
  height: auto;
  background-color: rgba(0, 144, 159, 0.4);
}
.our-services h3 {
  font-size: 1.5rem;
}
.our-services .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 1200px) {
  .our-services .container {
    justify-content: space-around;
  }
}
.our-services .container .service {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 19%;
  min-width: 190px;
  height: auto;
  aspect-ratio: 3/2;
  background-color: #fff;
  border-radius: 3px;
  transition: var(--transition-short-time);
}
.our-services .container .service:hover {
  box-shadow: 0 0 10px #555;
  transform: scale(1.05);
}
.our-services .container .service .service-image-container {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 144, 159, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.our-services .container .service h4 {
  font-size: 1rem;
  margin-top: 20px;
  color: #333;
}

.appoinment-section {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 100px 0;
  position: relative;
}
.appoinment-section .cover-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(./images/appointment.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
}
.appoinment-section .cover-image-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3333333333);
  z-index: 2;
}
.appoinment-section .form-container {
  height: 100%;
}
.appoinment-section .form-container form {
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--main-color);
  padding: 20px 10px;
  z-index: 3;
}
@media (max-width: 1200px) {
  .appoinment-section .form-container form {
    width: 100% !important;
  }
}
.appoinment-section .form-container form h6 {
  color: var(--main-text-color);
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 20px;
  margin-top: 10px;
}
.appoinment-section .form-container form > div > div {
  height: 40px;
  width: 49%;
}
@media (max-width: 576px) {
  .appoinment-section .form-container form > div > div {
    width: 100%;
  }
}
.appoinment-section .form-container form > div > div input {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #54b5c0;
  border-radius: 3px;
  filter: blur(100%);
  color: #fff;
}
.appoinment-section .form-container form > div > div input:focus {
  outline: none;
  border-bottom: 1px solid #fff;
}
.appoinment-section .form-container form > div > div input:focus ~ label {
  top: 0;
  font-size: 0.8rem;
}
.appoinment-section .form-container form > div > div label {
  color: var(--main-text-color);
  font-size: 0.9rem;
  font-weight: 200;
  z-index: 4;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: var(--transition-short-time);
}
.appoinment-section .form-container form > div > div label.focus {
  top: 0;
  font-size: 0.8rem;
}
.appoinment-section .form-container form > div .submit-appointment {
  width: 100%;
  padding: 5px;
  background-color: var(--main-text-color);
  color: #000;
  border: 2px solid #90dce4;
  border-radius: 3px;
  outline: none;
}

.professionals .professional-card {
  aspect-ratio: 6/7;
  width: 200px;
  min-width: 200px;
  text-align: center;
}
@media (max-width: 576px) {
  .professionals .professional-card {
    width: 150px;
    min-width: 150px;
  }
}
.professionals .professional-card .img-pro {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  background-image: url(./images/images.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
.professionals .professional-card .img-pro .cover {
  top: 100%;
  background-color: rgba(0, 0, 0, 0.3333333333);
  transition: var(--transition-short-time);
}
.professionals .professional-card:hover .cover {
  top: 0;
}
.professionals .professional-card .name-pro {
  color: var(--second-color);
  font-size: 1rem;
}
.professionals .professional-card .skill-pro {
  color: #777;
  font-size: 0.8rem;
}

.our-products .products-container .product {
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  transition: var(--transition-short-time);
}
.our-products .products-container .product:hover {
  box-shadow: 0 0 15px #aaa;
}
.our-products .products-container .product .product-img {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  background-image: url(./images/images\ \(2\).jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.our-products .products-container .product a {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: #444;
  background-color: #eee;
  width: 60%;
  padding: 10px;
  border-radius: 0 0 0 15px;
  text-align: center;
  box-shadow: 0 2px 2px #999;
  overflow: hidden;
  padding: 2px;
}
.our-products .products-container .product a .span-1 {
  position: absolute;
  top: 0;
  left: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 0%;
  height: 0%;
  background-color: var(--main-color);
  border-radius: 0 0 0 15px;
  transition: 0.5s;
}
.our-products .products-container .product a:hover .span-1 {
  transition: 0.5s;
  transform: rotate(180deg);
  border-radius: 0 15px 0 0;
  width: 100%;
  height: 100%;
}
.our-products .products-container .product a .span-2 {
  position: relative;
  z-index: 99;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #eee;
  border-radius: 0 0 0 15px;
  padding: 5px 0;
}

.our-news {
  background-color: #eee;
}
.our-news .container > div {
  justify-content: space-between;
  gap: 30px 10px;
}
.our-news .news {
  width: 30%;
  min-width: 300px;
  height: 150px;
  background-color: #ddd;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  transition: var(--transition-short-time);
}
@media (max-width: 992px) and (min-width: 768px) {
  .our-news .news:not(:nth-child(-n+4)) {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .our-news .news {
    width: 100%;
  }
  .our-news .news:not(:nth-child(-n+3)) {
    display: none !important;
  }
}
.our-news .news:hover {
  box-shadow: 0 0 10px #999;
}
.our-news .news > div {
  min-width: 50%;
  width: 50%;
}
.our-news .news .img-container {
  width: 50%;
  height: 100%;
  background-image: url(./images/download\ \(1\).jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  border-left: 5px solid var(--main-color);
}
.our-news .news .news-content h6 {
  font-size: 0.75rem;
  color: #777;
}
.our-news .news .news-content h4 {
  font-size: 1.1rem;
  color: #333;
  font-weight: 500;
}
.our-news .news .news-content p {
  font-size: 0.75rem;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.our-news .news .news-content a {
  color: #666;
  font-size: 0.7rem;
  position: absolute;
  bottom: 8px;
  left: 10px;
}
.our-news .news .news-content a:hover {
  color: var(--main-color);
}

.owl-nav button.owl-prev {
  height: 30px;
  width: auto;
  aspect-ratio: 1;
  background-color: var(--main-color) !important;
  border-radius: 0 10px 0 0;
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
}
.owl-nav button.owl-prev span {
  color: var(--main-text-color);
  display: inline-block;
  aspect-ratio: 1;
  height: auto;
  font-size: 1.4rem;
  margin-top: -2px;
}

.owl-nav button.owl-next {
  height: 30px;
  width: auto;
  aspect-ratio: 1;
  background-color: var(--main-color) !important;
  border-radius: 0 0 0 10px;
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
}
.owl-nav button.owl-next span {
  color: var(--main-text-color);
  display: inline-block;
  aspect-ratio: 1;
  height: auto;
  font-size: 1.4rem;
  margin-top: -2px;
}

.goup {
  width: 40px;
  height: 40px;
  left: 30px;
  bottom: 30px;
  background-color: var(--main-color);
  color: var(--main-text-color);
  border-radius: 50%;
  transition: var(--transition-short-time);
  z-index: 9;
  box-shadow: 0 0px 3px #333;
}
.goup:hover {
  box-shadow: 0 2px 5px #333;
}

footer {
  border-top: 5px solid var(--main-color);
  background: #888;
  color: #fff;
}
@media (max-width: 992px) {
  footer .logo-container-footer {
    width: 100%;
    min-width: 100%;
    text-align: center;
  }
}
footer .footer-img-cover {
  background-image: url(./images/footer-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.1;
  z-index: 1;
}
footer .container {
  position: relative;
  z-index: 2;
}
@media (max-width: 576px) {
  footer .container {
    gap: 20px 0;
  }
}
@media (max-width: 576px) {
  footer .container > div {
    margin-right: 70px;
  }
}
footer .copy-right {
  position: relative;
  z-index: 2;
  border-top: 1px solid var(--main-color-hover);
  padding: 10px 40px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.8rem;
  font-weight: 300;
  margin: 0 auto;
  text-align: center;
}
footer .copy-right a {
  color: var(--main-color-hover);
  font-weight: bold;
}
footer h6 {
  font-size: 1.1rem;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  display: inline-block;
  padding-left: 10px;
}
footer ul li {
  font-size: 0.9rem;
  font-weight: 300;
}
footer ul li a {
  color: var(--main-text-color);
}
footer ul li span {
  display: inline-block;
}
footer ul.links li:hover a {
  color: var(--main-color-hover);
  margin-right: 5px;
}
footer ul.links li a {
  transition: var(--transition-short-time);
}
footer ul.links li a i {
  margin-left: 5px;
  font-size: 0.7rem;
}
footer .contact-us li {
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #bbb;
}
footer .contact-us li a i {
  transition: var(--transition-short-time);
}
footer .contact-us li a:hover i {
  color: var(--main-color-hover);
}
footer .contact-us i {
  font-size: 1rem;
  width: 20px;
}
footer .contact-us .search-footer input {
  padding: 5px;
  border: 2px solid rgba(0, 0, 0, 0.4705882353);
  border-radius: 3px;
  font-size: 0.8rem;
}
footer .contact-us .search-footer input:focus {
  outline: 0;
  box-shadow: 0 0 3px #333;
}
footer .contact-us .search-footer a i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  padding-right: 5px;
  border-right: 1px solid #888;
}

.test-flex {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.test-flex div.d-0 {
  width: 100px;
  height: 100px;
  background-color: pink;
}
.test-flex div.d-1 {
  width: 150px;
  height: 150px;
  background-color: rgb(219, 27, 59);
}
.test-flex div.d-2 {
  width: 250px;
  height: 250px;
  background-color: rgb(12, 238, 27);
}
.test-flex div.d-3 {
  width: 70px;
  height: 70px;
  background-color: rgb(255, 251, 0);
}
.test-flex div.d-4 {
  width: 100px;
  height: 400px;
  background-color: rgb(221, 0, 255);
}
.test-flex div.d-5 {
  width: 100px;
  height: 450px;
  background-color: rgb(0, 242, 255);
}/*# sourceMappingURL=style.css.map */